<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <style type="text/css">
    .active-title {
        background: blue;
        color: lightblue;
    }
    .active-author {
        background: red;
        color: magenta;
    }
    .active-year {
        background: pink;
        color: palevioletred;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Banking Application</a>
            </div>
        </div>
    </nav>
    

    <div ng-controller="bookController as bookCtrl">
    <div>
      <input type="text" placeholder="Search" ng-model="userSearch">
    </div>

   <div ng-hide="isHidden"> 
       
    <h3><span>Books</span></h3>
    	<ul>
    		<li ng-repeat="book in books">{{book}}</li>
        </ul>
            <h3><span>Table example</span></h3>
    	<table class="table table-dark table-striped">
    		<tr>
    			<th  ng-click="bookCtrl.titleClicked = true">title</th>
    			<th  ng-click="bookCtrl.authorClicked = true">author</th>
    			<th  ng-click="bookCtrl.yearClicked = true">releaseYear</th>
    		</tr>
    		<tr ng-repeat="book in bookCtrl.books | filter:userSearch">
    			<td ng-class="{'active-title': bookCtrl.titleClicked}">{{book.title |  uppercase}}</td>
    			<td ng-class="{'active-author': bookCtrl.authorClicked }">{{book.author | uppercase}}</td>
    			<td ng-class="{'active-year': bookCtrl.yearClicked }">{{book.releaseYear}}</td>
    		</tr>
    	</table>
    </div>
    <div>hide<input type="checkbox" ng-model="isHidden"></div> 
    </div>
	<link rel="stylesheet" href="scripts/bootstrap.min.css"> 
    <script src="scripts/jquery-2.1.4.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ui-router.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/bookController.js"></script>  


</body>
</html>